.article-tile {
	display: flex;
	width: 420px;
	flex-direction: column;
	align-items: center;
	margin-right: 30px;
}

.article-tile:last-child {
	margin-right: 0;
}

.article-tile__image-link {
	text-decoration: none;
	color: inherit;
}

.article-tile__image {
	width: 420px;
	height: 280px;
	object-fit: cover;
}

.article-tile__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	align-self: stretch;
}

.article-tile__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.article-tile__title {
	color: #000;
	font-size: 24px;
	font-weight: 700;
	line-height: 110%;
	margin-top: 20px;
}

.article-tile__favorite-icon {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.article-tile__description {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
	text-align: left;
}

.article-tile__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	gap: 20px;
}

.article-tile__time {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
}

.article-tile__clock-icon {
	width: 24px;
	height: 24px;
}

.article-tile__stars {
	display: flex;
	gap: 10px;
}

.article-tile__star-icon {
	width: 24px;
	height: 24px;
}
